@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');

header{
	margin-top: 125px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin-top: 28px;
}
DomainLabel {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

